[[source]]git
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pytest = "*"
pytest-flask = "*"
requests = "*"
config = "*"

[requires]
python_version = "3.6.7"
